<!DOCTYPE html>
<html>

<head>
<title>月卡用户喝奶统计</title>
<meta charset="UTF-8">
</head>
<body>
<form action="{% url 'milk:VIPStasticsRes' %}" method="post">{% csrf_token %}
<table border='1px' cellspacing='0px' style='border-collapse:collapse'>
<tr><td><label>月卡编号</label>
<select name="vipindex" style='width:500'>
{% for vipid, vipindex in viptype.items %}
<option value="{{ vipindex }} ">{{ vipindex }}</option>
{% endfor %}
</select><br>
<tr><td><label>统计类型</label>
<select name="typeid" style='width:500'>
{% for typeid, typename in statype_dict.items %}
<option value="{{ typeid }} ">{{ typename }}</option>
{% endfor %}
</select><br>
<tr><td><label>开始时间</label>	<input type='text' name='start_time' value="{{ before }}" style='width:300'/></td></tr>
<tr><td><label>结束时间</label>	<input type='text' name='end_time' value="{{ now }}" style='width:300'/></td></tr>
</table>
<br>

<input type="submit" value="提交" style="text-align:center;">
</form>
</body>
</html>